section {
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin: 0 20px;
}

.review-item-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;

    background-color: red;
    border-radius: 5px;
}

.review-item-image {
    position: relative;
}

.review-item-image img {
    object-fit: cover;
    width: 95%;
    height: 95%;
    margin: 5px;
}

.review-person-title {
    background-color: red;
    position: absolute;
    bottom: 0;

    margin: 0 5px;
}

.review-person-title p {
    margin: 0;
    /* padding: 0; */
    text-align: center;
    line-height: auto;
    /* color: red; */
}

#review-person-title p:nth-child(1) {
    font-size: 1.3rem;
}

.star-and-review {
    align-self: center;
    padding: 5px;
}

.review-text p {
    font-size: 1.3rem;
}

@media screen and (max-width: 600px) and (min-width: 200px) {
    section {
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 40px;
    }
}

