.table-wrap {
    max-width: 800px;
    margin: 80px auto;
    overflow-x: auto;
  }
  
  table, td, th {
  /*   border: 1px solid #ddd; */
    text-align: left;
    font-size:18px;
    text-transform:capitalize;
  }
  
  table thead tr{
       background-color: #000000;
      color: #fff;
  }
  
  table {
    border-collapse: collapse;
    width: 100%;
     border-radius: 16px 16px 0px 0px;
    overflow: hidden;
  }
  
  table tbody tr td{
   border: 1px solid #ddd;
  }
  
  th, td {
    padding: 15px;
    white-space: nowrap;
    text-align: center;
  }
  
  table tbody tr:nth-child(odd) {
   background: #EAEAEA;;
    color: #000;
    font-weight: 500;
  }
  
  .box-wrap {
    padding: 0px 16px;
  }
  
  table tbody tr td::last-child{
  background-color:red;
  }
