{% extends 'base/base_login.html' %}
{% load static %}

{% block body %}
<div class="contenedor contenido-principal">
    <main class="blog">
        <h3>Saludos a los Devoradores de Letras</h3>

            <article class="entrada">
                <div class="entrada__imagen">
                    <picture>
                        <img loading="lazy" src="{% static 'img/libro1.jpg' %}" alt="imagen blog"> 
                    </picture>
                </div>

                <div class="entrada__contenido">
                    <h4 class="no-margin">La Lectura</h4>
                    <p>Sumergirse en las páginas de un libro es como abrir la puerta a un universo infinito de conocimiento, imaginación y crecimiento personal. Leer trasciende las barreras del tiempo y el espacio, permitiéndonos explorar épocas pasadas, culturas distantes y perspectivas únicas. Cada historia es un viaje hacia lo desconocido, una oportunidad para caminar en los zapatos de otros, sentir sus emociones y experimentar sus alegrías y desafíos. A través de la lectura, no solo adquirimos información, sino que cultivamos nuestra empatía, fortalecemos nuestras mentes y creamos puentes entre el pasado, el presente y el futuro. En el vasto mundo de la literatura, las palabras cobran vida y las ideas se convierten en alas que nos elevan hacia horizontes inexplorados.</p>
                    <!-- <a href="entrada.html" class="boton boton--primario">Leer Entrada</a> -->
                </div>
            </article>

        <article class="entrada">
            <div class="entrada__imagen">
                <picture>
                    {% if libro1.caratula %}
                        <img loading="lazy" src="{{ libro1.caratula.url }}" alt="imagen blog" style="width: 326px; height: 500px;">
                    {% else %}
                        <img loading="lazy" src="{% static 'img/libro_general.jpg' %}" alt="imagen vacía" style="width: 326px; height: 500px;">
                    {% endif %}
                </picture>
            </div>

            <div class="entrada__contenido">
                {% if libro1 %}
                    <h4 class="no-margin">{{libro1.titulo}}</h4>
                {% else %}
                    <h4 class="no-margin">Proximamente</h4>
                {% endif %}
                
                {% if libro1 %}
                    <p>{{libro1.sipnosis}}</p>
                    <a href="{% url 'ver_item' id_libro=libro1.id_libro %}" class="boton boton--primario">Mas Informacion</a>
                {% else %}
                    <p>Sin Informacion</p>
                {% endif %}
            </div>
        </article>

        <article class="entrada">
            <div class="entrada__imagen">
                <picture>
                    {% if libro2.caratula %}
                    <img loading="lazy" src="{{ libro2.caratula.url }}" alt="imagen blog" style="width: 326px; height: 500px;">
                    {% else %}
                        <img loading="lazy" src="{% static 'img/libro_general.jpg' %}" alt="imagen vacía" style="width: 326px; height: 500px;">
                    {% endif %}
                </picture>
            </div>

            <div class="entrada__contenido">
            {% if libro2 %}
                <h4 class="no-margin">{{libro2.titulo}}</h4>
            {% else %}
                <h4 class="no-margin">Proximamente</h4>
            {% endif %}
            
            {% if libro2 %}
                <p>{{libro2.sipnosis}}</p>
                <a href="{% url 'ver_item' id_libro=libro2.id_libro %}" class="boton boton--primario">Mas Informacion</a>
            {% else %}
                <p>Sin Informacion</p>
            {% endif %}
            </div>
        </article>

        <!-- ... Más artículos ... -->

    </main>
    <aside class="sidebar">
        <h3>Catalogo</h3>

        <ul class="cursos no-padding">
            <li class="widget-curso">
                <h4 class="no-margin"></h4>
                <p class="widget-curso__label">Donde las Páginas Cobran Vida: Tu Librería en el Mundo Real
                    <span class="widget-curso__info"></span>
                </p>
                <p class="widget-curso__label"> 
                    <span class="widget-curso__info"></span>
                </p>
                <a href="{% url 'catalogo' %}" class="boton boton--secundario" >Explorar Catalogo</a>
            </li>

            {%if request.user.is_authenticated %}
                <li class="widget-curso">
                    <h4 class="no-margin">Mi Carrito</h4>
                    <p class="widget-curso__label">Mis Compras: Lps {{importe_total_carro}}
                        <span class="widget-curso__info"></span>
                    </p>
                    <p class="widget-curso__label"> 
                        <span class="widget-curso__info"></span>
                    </p>
                    <a href="{% url 'carro:carrito' %}" class="boton boton--secundario1" style="background-color: #ffb703;">Explorar Carrito</a>
                </li>
            {% endif %}
        </ul>
    </aside>
</div>

{% endblock %}
