asgiref==3.7.2
Django==4.2.4
django-jazzmin==2.6.0
mysql-connector-python==8.1.0
mysqlclient==2.2.0
Pillow==10.0.0
protobuf==4.21.12
sqlparse==0.4.4
typing_extensions==4.7.1
tzdata==2023.3


pip install asgiref==3.7.2
pip install Django==4.2.4
pip install django-jazzmin==2.6.0
pip install mysql-connector-python==8.1.0
pip install mysqlclient==2.2.0
pip install Pillow==10.0.0
pip install protobuf==4.21.12
pip install sqlparse==0.4.4
pip install typing_extensions==4.7.1
pip install tzdata==2023.3
