{% extends 'base/base_login.html' %}
{% load static %}

{% block title %}
    Gestion de Ventas
{% endblock %}

{% block style %}
    <link rel="stylesheet" href="{% static 'css/verproducto.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/tabla_style.css' %}">
   <style>
        body {
            color: black;
        }
        .jumbotron-title {
            font-size: 24px;
            color: black;
            text-align: center;
            font-weight: bold;
        }
        .jumbotron-text {
            font-size: 18px;
            color: black;
            text-align: center;
        }
        .jumbotron-button {
            display: block;
            margin: 0 auto;
        }
    </style>
{% endblock %}


{% block body %}
<div class="row">
    <h1 class="text-center"><strong>Gestión de Ventas</strong></h1>
    <div class="col-sm-12 col-md- col-lg-6 col-xl-6">
      <div class="card-body">
        <h3 class="card-title text-center" style="color: black;"><strong>Tabla de Empleados</strong></h3>
        <br>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Ventas del Mes</th>
                    <th>Porcentaje</th>
                    <th>Foto</th>
                    <th>Ver Mas</th>
                </tr>
            </thead>
            <tbody>
                {% for resultado in resultados %}
                <tr>
                    <td>{{resultado.empleados.nombre}} {{resultado.empleados.apellido}}</td>
                    <td><strong> LPS. {{resultado.ventas_mes }}</strong></td>
                    <td><strong>{{resultado.porcentaje_ventas}} %</strong></td>
                    <td><img src="{{ resultado.empleados.foto.url }}" alt="" width="40" height="40" , style="border-radius: 50px;"></td>
                    <td class="text-center">
                        <a href="{% url 'ventas_empleado_mes' id_empleado=resultado.empleados.id_empleado %}" class="text-info d-block">
                            <i class="fas fa-search"></i> <!-- Ícono de lupa azul -->
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
      </div>
    </div>
    <div class="col-sm-12 col-md-9 col-lg-6 col-xl-6">
      <div class="row">
        <div class="col-md-10 mx-auto">
          <div class="card mb-4">
            <div class="card-body">
              <h4 class="jumbotron-title">Ventas Mensual</h4>
              <p class="jumbotron-text">Mira una grafica de las ventas del mes de la libreria</p>
              <div style="text-align: center;">
                <a class="w-50 mb-2 btn btn-lg boton boton--secundario" href="{% url 'ventas_diarias_mes' %}">Ver Más</a>
            </div>
            </div>
          </div>
        </div>
        <div class="col-md-10 mx-auto">
          <div class="card mb-4">
            <div class="card-body">
              <h4 class="jumbotron-title">Desempeño</h4>
              <p class="jumbotron-text">Visualiza y compara el rendimiento empleado.</p>
              <div style="text-align: center;">
                <a class="w-50 mb-2 btn btn-lg rounded-3 boton boton--secundario" href="{% url 'comparativa_ventas' %}">Ver Más</a>
            </div>
            </div>
          </div>
        </div>
        <div class="col-md-10 mx-auto">
          <div class="card mb-4">
            <div class="card-body">
              <h4 class="jumbotron-title">Libros</h4>
              <p class="jumbotron-text">Observa la cantidad de libros que se han vendido mensualmentes</p>
              <div style="text-align: center;">
                <a class="w-50 mb-2 btn btn-lg rounded-3 boton boton--secundario" href="{% url 'ventas_libros_mensuales' %}">Ver Más</a>
            </div>
            </div>
          </div>
        </div>
        <div class="col-md-10 mx-auto">
          <div class="card mb-4">
            <div class="card-body">
              <h4 class="jumbotron-title">Ventas Anual</h4>
              <p class="jumbotron-text">Mira una grafica de las ventas anuales de la libreria</p>
              <div style="text-align: center;">
                <a class="w-50 mb-2 btn btn-lg rounded-3 boton boton--secundario" href="{% url 'comparativa_tipo_ventas' %}">Ver Más</a>
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>

{% endblock %}
